
Code/data/cifar-10-python.tar.gz
Code/data/cifar-10-batches-py/test_batch
Code/data/cifar-10-batches-py/readme.html
Code/data/cifar-10-batches-py/data_batch_5
Code/data/cifar-10-batches-py/data_batch_4
Code/data/cifar-10-batches-py/data_batch_3
Code/data/cifar-10-batches-py/data_batch_2
Code/data/cifar-10-batches-py/data_batch_1
Code/data/cifar-10-batches-py/batches.meta
